<div class="cont_card pd">
    <div class="cont_card pn" v-if="displayedDataList.length === 0">
        <p>등록된 자산이 없습니다.</p>
        <p>자산을 등록해 주세요.</p>
    </div>
    <div v-else>
        <div class="table_top">
            <!-- <button type="button" class="btn01 bt_sm" @click="clickTest"><span>삭제</span></button> -->
            <button type="button" class="btn01 bt_sm" :disabled="!isDeleteButtonEnabled"
            @click="deleteItems"><span>삭제</span></button>
        </div>
        <!-- table wrapper -->
        <div class="tableWrap">
            <table class="table01">
                <colgroup>
                    <col style="width: 32px;" />
                    <col style="width: 25%;" />
                    <col />
                    <col style="width: 25%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" class="col_chk">
                            <!-- <input type="checkbox" id="" title="전체선택" /> -->
                            <input type="checkbox" id="" title="전체선택" v-model="isAllChecked"
                            @change="toggleSelectAll" />
                        </th>
                        <th scope="col">사용자</th>
                        <th scope="col">모델명</th>
                        <th scope="col">자산상태</th>
                    </tr>
                </thead>
                <!-- @click="showDetails(item)" -->
                <tbody :class="{ tr_open: tr_open }">
                    <tr v-for="item in displayedDataList" :key="item.assetidx" @click="openItemDetails(item)"
                        :class="{ tr_open: item.tr_open }">
                        <!-- 체크박스 -->
                        <td class="col_chk">
                            <!-- <input type="checkbox" title="선택" @click.stop v-model="item.isChecked" /> -->
                            <input type="checkbox" title="선택" v-model="item.isChecked" @click.stop="selectItem(item)" />
                        </td>
                        <!-- 컬럼명(사용자, 모델명, 자산상태) -->
                        <td>{{ item.currentuser }}</td>
                        <td>{{ item.assetname }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                    <tr class="tr_detail">
                        <td colspan="4">
                            <div class="detail_cont">
                                <div class="select">
                                    <label for="aaa">수정</label>
                                    <select id="aaa">
                                        <option value="">2023/10/31</option>
                                        <option value="">2023/10/30</option>
                                        <option value="">2023/10/10</option>
                                    </select>
                                </div>

                                <RenderInputs :item="selectedItem" />

                                <div class="c_btn">
                                    <button type="button" class="btn01" disabled><span>저장</span></button>
                                    <button type="button" class="btn01 cancel" disabled><span>취소</span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- //table wrapper -->
    </div>
</div>