<!-- <div class="reg_from">
    <dl>
        <dt>자산종류</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.assettype" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>모델명</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.assetname" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>제조사</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.manufacturer" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>S/N</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.sn" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory === '하드웨어'">
        <dt>자산상태</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.status" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>부서</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.dept" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>사용자</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.currentuser" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory === '하드웨어'">
        <dt>전사용자</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.previoususer" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory === '하드웨어'">
        <dt>지급일</dt>
        <dd>
            <div class="inp_box">
                <input type="date" v-model="insertedData.assigneddate" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory === '소프트웨어'">
        <dt>만료일</dt>
        <dd>
            <div class="inp_box">
                <input type="date" v-model="insertedData.expirydate" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory === '하드웨어'">
        <dt>반납기한</dt>
        <dd>
            <div class="inp_box">
                <input type="date" v-model="insertedData.duedate" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory === '하드웨어'">
        <dt>반납일</dt>
        <dd>
            <div class="inp_box">
                <input type="date" v-model="insertedData.returndate" disabled />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory !== '소프트웨어'">
        <dt>CPU</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.cpu" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory !== '소프트웨어'">
        <dt>SSD</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.ssd" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory !== '소프트웨어'">
        <dt>HDD</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.hdd" />
            </div>
        </dd>
    </dl>
    <dl v-if="selectedCategory !== '소프트웨어'">
        <dt>메모리</dt>
        <dd>
            <div class="inp_box">
                <input type="text" v-model="insertedData.memory" />
            </div>
        </dd>
    </dl>
</div> -->