<!-- 자산 목록 조회 페이지 -->
<ion-content class="contentsWrap">
    <div class="searchWrap">
        <!-- 카테고리 변경 -->
        <div class="search_row tab">
            <label>
                <input type="radio" id="entire" name="category" v-model="selectedCategory" value="entire"
                    :checked="selectedCategory === 'entire'" @click="changeCategory('entire')" /><span>전체</span>
            </label>
            <label>
                <input type="radio" id="hw" name="category" v-model="selectedCategory" value="hw"
                    :checked="selectedCategory === 'hw'" @click="changeCategory('hw')" /><span>하드웨어</span>
            </label>
            <label>
                <input type="radio" id="sw" name="category" v-model="selectedCategory" value="sw"
                    :checked="selectedCategory === 'sw'" @click="changeCategory('sw')" /><span>소프트웨어</span>
            </label>
        </div>

        <!-- 상세 카테고리 변경 -->
        <div class="search_row">
            <select v-model="selectedOption" @change="updateInputType">
                <option value="assetType">자산종류</option>
                <option value="manufacturer">제조사</option>
                <option value="serialNum">S/N</option>
                <option value="assetState">자산상태</option>
                <option value="department">부서</option>
                <option value="user">사용자</option>
                <option value="exUser">전사용자</option>
                <option v-if="selectedCategory !== 'sw'" value="HWModel">모델명</option>
                <option v-if="selectedCategory !== 'sw'" value="returnedDate">반납일</option>
                <option v-if="selectedCategory !== 'hw'" value="SWExpireDate">만료일</option>
            </select>

            <!-- 검색창 -->
            <div class="inp_box" v-if="!selectedOption.endsWith('Date')">
                <input type="text" v-model="searchTerm" placeholder="검색" />
                <button type="button" class="btn_search" @click="search"><span>Search</span></button>
            </div>
            <div class="inp_box" v-else>
                <input type="date" id="" />
            </div>

            <!-- 자산 등록 버튼 -->
            <button type="button" class="btn01" @click="goToAddPage"><span>등록</span></button>
        </div>
    </div>

    <div class="web_container sub_container">
        <div class="cont_card pd">
            <!-- 자산 삭제 버튼 -->
            <div class="table_top">
                <button type="button" class="btn01 bt_sm" :disabled="!isDeleteButtonEnabled"
                    @click="deleteItems"><span>삭제</span></button>
                <button type="button" class="btn01 bt_sm" @click="checkWillBeDeletedItems"><span>테스트</span></button>
            </div>

            <!-- 자산 목록 -->
            <div class="tableWrap">
                <table class="table01">
                    <colgroup>
                        <col style="width: 32px;" />
                        <col style="width: 25%;" />
                        <col />
                        <col style="width: 25%;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <!-- 전체 체크박스 -->
                            <th scope="col" class="col_chk">
                                <input type="checkbox" id="" title="전체선택" v-model="isAllChecked"
                                    @change="toggleSelectAll" />
                            </th>
                            <th scope="col" @click="sortByUser">사용자</th>
                            <th scope="col" @click="sortByAssetCode">모델명</th>
                            <th scope="col" @click="sortByAssetState">자산상태</th>
                        </tr>
                    </thead>
                    <tbody :class="{ tr_open: tr_open }">
                        <tr v-for="item in displayedDataList" :key="item.assetCode" @click="showDetails(item)"
                            :class="{ tr_open: item.tr_open }">
                            <!-- 체크박스 -->
                            <td class="col_chk">
                                <!-- <input type="checkbox" title="선택" @click.stop v-model="item.isChecked" /> -->
                                <input type="checkbox" title="선택" v-model="item.isChecked"
                                    @click.stop="selectItem(item)" />
                            </td>
                            <!-- 컬럼명(사용자, 모델명, 자산상태) -->
                            <td>{{ item.currentUser }}</td>
                            <td>{{ item.assetName }}</td>
                            <td>{{ item.status }}</td>
                        </tr>
                        <tr class="tr_detail">
                            <td colspan="4">
                                <div class="detail_cont">
                                  
                                    <div class="reg_from">
                                        <dl>
                                            <dt>자산종류</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.assettype" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>제조사</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.manufacturer" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>S/N</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.sn" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>자산상태</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.status" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>부서</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.dept" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>현사용자</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.currentuser" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>전사용자</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.previoususer" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory === 'hw'">
                                            <dt>지급일</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="date" v-model="selectedData.assigneddate" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory === 'sw'">
                                            <dt>만료일</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="date" v-model="selectedData.expirydate" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory === 'hw'">
                                            <dt>반납기한</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="date" v-model="selectedData.duedate" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory === 'hw'">
                                            <dt>반납일</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="date" v-model="selectedData.returndate" disabled />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory !== 'sw'">
                                            <dt>모델명</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.assetname" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory !== 'sw'">
                                            <dt>CPU</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.cpu" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory !== 'sw'">
                                            <dt>SSD</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.ssd" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory !== 'sw'">
                                            <dt>HDD</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.hdd" />
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl v-if="selectedCategory !== 'sw'">
                                            <dt>메모리</dt>
                                            <dd>
                                                <div class="inp_box">
                                                    <input type="text" v-model="selectedData.memory" />
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>

                                    <!-- 상세 조회 닫기 버튼 -->
                                    <div class="c_btn">
                                        <button type="button" class="btn01 cancel"
                                            @click="closeDetails"><span>닫기</span></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ion-content>