<ion-page class="page_wrapper">
    <!-- header -->
    <ion-header class="headerWrap">
        <!-- title bar -->
        <div class="titleBar">
            <div class="title_nav">
                <button type="button" class="btn_head_home"><span>Home</span></button>
                <button type="button" class="btn_head_list on"><span>List</span></button>
            </div>
            <div class="title_btn right">
                <button type="button" class="btn_head_logout"><span>로그아웃</span></button>
            </div>
        </div>
        <!-- //title bar -->
    </ion-header>
    <!-- //header -->

    <!-- contents area -->
    <ion-content class="contentsWrap">
        <div class="web_container sub_container">
            <!-- search area -->
            <div class="searchWrap">
                <!-- row -->
                <div class="search_row tab">
                    <label><input type="radio" id="" name="category" checked /><span>전체</span></label>
                    <label><input type="radio" id="" name="category" /><span>하드웨어</span></label>
                    <label><input type="radio" id="" name="category" /><span>소프트웨어</span></label>
                </div>
                <!-- //row -->
            </div>
            <!-- //search area -->

            <!-- white card -->
            <div class="cont_card pd">
                <!-- regist form -->
                <div class="reg_from">
                    <dl>
                        <dt>자산코드</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>자산종류</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>위치</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>제조사</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>모델명</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>S/N</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>CPU</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>SSD</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>HHD</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>메모리</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>부서</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>현사용자</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>전사용자</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>자산상태</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>구매일</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="date" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>지급일</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="date" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>반납일</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="date" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>사용기간</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>비고</dt>
                        <dd>
                            <div class="inp_box">
                                <input type="text" id="" />
                            </div>
                        </dd>
                    </dl>
                </div>
                <!-- //regist form -->

                <div class="c_btn">
                    <button type="button" class="btn01" disabled><span>저장</span></button>
                    <button type="button" class="btn01 cancel" disabled><span>취소</span></button>
                </div>
            </div>
            <!-- //white card -->
        </div>

    </ion-content>
    <!-- //contents area -->
</ion-page>