<ion-content class="contentsWrap">
    <div class="web_container sub_container">
        <div class="searchWrap">
            <ChangeTabs :isListTab="false" />
        </div>

        <!-- white card -->
        <div class="cont_card pd">
            <RenderInputs />

            <div class="c_btn">
                <button type="button" class="btn01" disabled><span>저장</span></button>
                <button type="button" class="btn01 cancel" disabled><span>취소</span></button>
            </div>
        </div>
        <!-- //white card -->
    </div>

</ion-content>