<!-- 대시보드 페이지 중 반납기한 임박 테이블 컴포넌트 -->
<div class="title">
    <h3 class="tit date"><img src="@/assets/images/icon_clock.svg"> 반납 예정</h3>
    <div class="opt">
        <button type="button" class="btn_more" @click="more"><span>더보기</span></button>
    </div>
</div>

<div class="tableWrap">
    <table class="table01">
        <colgroup>
            <col style="width: 25%;" />
            <col style="width: 25%;" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col">자산종류</th>
                <th scope="col">사용자</th>
                <th scope="col">반납일/반납기한</th>
            </tr>
        </thead>
        <!-- 미반납 자산 중 반납기한이 현재 날짜와 가장 가까운 자산 5개를 보여줌 -->
        <tbody>
            <tr v-for="(item, index) in upcomingReturns" :key="index" :class="{ overdue: item.isOverdue }">
                <td><span>{{ item.inputDeviceType || '-' }}</span></td>
                <td><span>{{ item.inputUser || '-' }}</span></td>
                <td>
                    <div class="data_return">
                        <span>{{ item.inputReturnedDate || '-' }}</span>/<span>{{ item.inputHWExpectedReturnDate || '-'
                            }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>