<div class="reg_from">
    <dl>
        <dt>자산코드</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>자산종류</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>위치</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>제조사</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>모델명</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>S/N</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>CPU</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>SSD</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>HHD</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>메모리</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>부서</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>현사용자</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>전사용자</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>자산상태</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>구매일</dt>
        <dd>
            <div class="inp_box">
                <input type="date" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>지급일</dt>
        <dd>
            <div class="inp_box">
                <input type="date" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>반납일</dt>
        <dd>
            <div class="inp_box">
                <input type="date" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>사용기간</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
    <dl>
        <dt>비고</dt>
        <dd>
            <div class="inp_box">
                <input type="text" id="" />
            </div>
        </dd>
    </dl>
</div>